/* História */
.titulo_historia {
  background: url(../img/bg-historia.jpg) no-repeat center;
  background-size: cover;
}

.historia {
  padding: 50px 0px 30px 0px;
}

.historia h2 {
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.historia img {
  margin-bottom: 5px;
}

.historia span {
  font-size: 14px;
  font-style: italic;
}

.historia p,
.historia iframe,
.historia span {
  margin-bottom: 20px;
}

.azul {
  background: #92d3cf;
  padding: 40px 0px 20px 0px;
}
