/* Estilo para tablets */
@media only screen and (min-width: 788px) and (max-width: 979px) {
/* Home */
.home {
  padding: 295px 0 65px 0;
}

}

/* Estilo para smartphone */
@media only screen and (max-width: 787px) {
/* Header */
.header {
  position: relative;
  padding: 30px 0 5px 0;
  text-align: center;
}

.header_menu ul {
  text-align: center;
}

.header_menu ul li {
  margin-left: 12px;
  margin-top: 30px;
}

/* Home */
@keyframes changeBackground {
  0% {
    background: url(../img/bg-home-1-mobile.jpg) center no-repeat;
    background-size: cover;
  }
  35% {
    background: url(../img/bg-home-2-mobile.jpg) center no-repeat;
    background-size: cover;
  }

  75% {
    background: url(../img/bg-home-3-mobile.jpg) center no-repeat;
    background-size: cover;
  }

  100% {
    background: url(../img/bg-home-1-mobile.jpg) center no-repeat;
    background-size: cover;
  }
}

.home {
  margin-top: 0px;
  padding: 90px 0 65px 0;
  text-align: center;
}

.home h1::after {
  width: 110px;
  margin: 13px auto 25px auto;
}

.home p {
  padding-right: 0px;
}

/* Título Interno */
.titulo-interno {
  margin-top: 0px;
}

/* Footer */
.creditos {
  border-left: none;
  padding: 0px;
  margin-top: 10px;
}

.creditos li:nth-child(1) {
  font-size: 16px;
}

.creditos li,
.creditos a {
  padding: 5px 0px;
  font-size: 14px;
}

.footer_copy p {
  padding: 0px;
  padding-top: 18px;
}

/* Episódios */
.episodios table tbody tr {
  font-size: 14px;
}

.episodios table tbody tr th:nth-child(1),
.episodios table tbody tr td:nth-child(1),
.episodios table tbody tr th:nth-child(6),
.episodios table tbody tr td:nth-child(6) {
  font-size: 0px;
}

/* Frases */
.frases blockquote p {
  max-width: 100%;
}

.frases blockquote cite {
  display: block;
  margin-top: 3px;
}

}